<div class="ttl mb40">
  <div class="container-fluid">
    <h1>コメントの編集</h1>
  </div>
</div>

<div class="container">
  <% if @comment.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <ul>
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= render partial: 'comments/form', locals: { comment: @comment, review: @review } %>
</div>
