<div class="ttl">
  <div class="container-fluid mb20">
    <h1>お知らせ</h1>
  </div>
</div>

<div class="container-fluid mb20 notifications">
  <ul>
    <% @notifications.each do |notification| %>
      <li>
        <span><% if notification.read == false %>【未読】<% end %></span>
        <p>
          <%= notification.comment.user.try(:name) %>さんが
          あなたのレビュー（<%= link_to "#{notification.comment.review.title}", review_path(notification.comment.review, notification_id: notification.id) %>）にコメントしました。
        </p>
        <p><%= notification.created_at %></p>
      </li>
    <% end %>
  </ul>
</div>
