<div class="ttl">
  <div class="container-fluid mb20">
    <h1>ユーザ一覧</h1>
  </div>
</div>

<div class="container">
  <div class="row user-flex">
    <% @users.each do |user| %>
    <div class="col-md-3 col-sm-3 mb30">
      <p class="tal-c"><%= link_to user do %><%= profile_img(user) %><% end %></p>
      <p class="tal-c"><%= link_to user.name, user %></p>
      <%= render 'follow_form', user: user %>
    </div>
    <% end %>
  </div>
</div>
