/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  overflow-wrap: break-word;
}

li {
  list-style-type: none;
}

.navbar {
  margin-bottom: 0;
}

.image {
  width: 100px;
}

.flt-l {
  float: left;
}

.flt-r {
  float: right;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.thumbnail-ava {
  margin-right: 10px;
}
.thumbnail-ava img,
.thumbnail-ava-userlist img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.review-list h2 {
  font-size: 20px;
  line-height: 1.5;
  margin-top: 0;
}

.movie-ttl {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 0;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mt20 {
  margin-top: 20px;
}

.mr20 {
  margin-right: 20px;
}

.ml20 {
  margin-left: 20px;
}

.tal-r {
  text-align: right;
}

.tal-c {
  text-align: center;
}

.review-list {

}

.margin-right {
  margin-left: auto;
}

.ttl {
  background-image: url("ttl.jpg");
  background-size: cover;
}
.ttl h1 {
  padding: 40px 0;
  color: #fff;
}

.btn a {
  color: #fff;
  text-decoration: none;
}

#comments_area li {
  border-bottom: 1px dotted #ccc;
  padding: 20px 0 20px 0;
}
#comments_area li:first-child {
  padding-top: 0;
}

.alert h3 {
  margin-top: 0;
}

@media screen and (max-width:767px) {
  /*　画面サイズが767px以下の場合読み込む　*/

}

@media screen and (min-width:768px){
  /*　画面サイズが768px以上の場合読み込む　*/

  .user-flex,
  .flex{
  display: flex;
  flex-wrap: wrap;
  }

  .review .image {
    width: 250px;
  }


}
