<div class="ttl">
  <div class="container-fluid mb20">
    <h1>レビュー一覧</h1>
  </div>
</div>

<!-- 一覧ページはログイン無しで見れるようにしたので、下記は必要ないかも -->
<% if notice != nil || alert != nil %>
  <div class="container-fluid mb20">
    <div class="alert alert-warning" role="alert">
      <p><%= notice %><%= alert %></p>
    </div>
  </div>
<% end %>

<div class="container-fluid">

  <%= render 'review_list' %>

  <p class="tal-c"><%= link_to "投稿する", new_review_path, class: "btn btn-primary" %></p>
</div>
